[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100
indent_style = tab
tab_width = 4
indent_size = 4
continuation_indent_size = 8

[*.js]
continuation_indent_size = unset

[*.svelte]
indent_size = unset
continuation_indent_size = unset
