[user]
	name = Jer Megel
	email = git@jer.dev
	signingkey = 0x910FB4D15EC801AB
[core]
	editor = vim
	hooksPath = ~/.config/git/hooks
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = false
[fetch]
	prune = true
[merge]
	conflictStyle = diff3
[commit]
	verbose = 2
[gpg]
	program = gpg2
[include]
	path = ~/.gitconfig.local
