[user]
	name = Summer ☀️
	email = git@summerm.dev
[core]
	hooksPath = ~/.config/git/hooks
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = less -F
[format]
	pretty = fuller
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = false
[fetch]
	prune = true
[diff]
	algorithm = histogram
[merge]
	conflictStyle = diff3
[commit]
	verbose = 2
[log]
	date = iso8601-strict
	showSignature = true
[gpg]
	program = gpg2
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[include]
	path = ~/.gitconfig.local
